<nav>
  <a routerLink='/admin/parents'>Roditelji</a>
  <a routerLink='/admin/students'>Učenici</a>
  <a routerLink='/admin/teachers'>Nastavnici</a>
  <a routerLink='/admin/subjects'>Predmeti</a>
  <a routerLink='/admin/years'>Razredi</a>
  <a routerLink='/admin/class'>Odeljenja</a>
</nav>
<div id="search-component">
  <h4>Pronađi odeljenje za izmenu</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="odeljenje" />
    <ul class="subjects">
      <li *ngFor="let schoolClass of classes$ | async">
        <a routerLink="/admin/class/{{schoolClass.id}}">
          <span class="badge">{{schoolClass.id}}</span> {{schoolClass.classSign}}
        </a>
      </li>
    </ul>
  </div>

<div>
  <h4>Dodajte novo odeljenje</h4>
  <div>
    <form [formGroup]="angForm" novalidate>
      <div>
        <label>Oznaka odeljenja:</label>
        <input class="form-control" formControlName="schoolClassClassSign" #schoolClassClassSign />
      </div>
      <div *ngIf="angForm.controls['schoolClassClassSign'].invalid && (angForm.controls['schoolClassClassSign'].dirty || angForm.controls['schoolClassClassSign'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['schoolClassClassSign'].errors.required" class="error">
          Obavezno polje.
        </div>
      </div>
        <div >
          <button (click)="addClass(schoolClassClassSign.value); schoolClassClassSign.value=''" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Dodaj</button>
        </div>
    </form>
  </div>
</div><br/><br/>


<div>
  <button (click)="goBack()" class="btn btn-primary">Nazad</button>
</div>
