<nav>
  <a routerLink='/admin/parents'>Roditelji</a>
  <a routerLink='/admin/students'>Učenici</a>
  <a routerLink='/admin/teachers'>Nastavnici</a>
  <a routerLink='/admin/subjects'>Predmeti</a>
  <a routerLink='/admin/years'>Razredi</a>
  <a routerLink='/admin/class'>Odeljenja</a>
</nav>
<div *ngIf="teacher">
  <h2>Odabrali ste nastavnika: </h2>
  <div class = "students">
    <span class="badge">{{teacher.id}}</span>{{teacher.firstName}} {{teacher.lastName}}
</div>
<div>
  <button class="delete" (click)="addTeacherAndClassToSubject(teacher)">Dodeli predmetu</button>
</div>
</div>

<div>
  <button (click)="goBack()" class="btn btn-primary">Nazad</button>
</div>
