<div class="grid grid-pad">
  <a class="col-1-4" routerLink='/admin/teachers'>
    <div class="module teacher">
      <h4>Nastavnici</h4>
    </div>
    </a>
    <a class="col-1-4" routerLink='/admin/parents'>
    <div class="module parent">
      <h4>Roditelji</h4>
    </div>
    </a>
    <a class="col-1-4" routerLink='/admin/students'>
    <div class="module student">
      <h4>Učenici</h4>
    </div>
    </a>
    <a class="col-1-4" routerLink='/admin/subjects'>
    <div class="module admin">
      <h4>Predmeti</h4>
    </div>
    </a>
    <a class="col-1-4" routerLink='/admin/years'>
    <div class="module admin">
      <h4>Razredi</h4>
    </div>
    </a>
    <a class="col-1-4" routerLink='/admin/class'>
    <div class="module admin">
      <h4>Odeljenja</h4>
    </div>
    </a>
</div>
